@page "/login"
<link href="css/responsive-full-background-image.css" rel="stylesheet" />
@*<MudProgressCircular Color="Color.Primary" Indeterminate="@isLoading" />*@
<div class="container">
    <div class="content">
        <div Class="d-flex justify-space-between py-2 px-1 mt-6" Elevation="0">
            <div class="" mx-2" Elevation="0"></div>
            <MudPaper Class="d-flex mx-2 mud-elevation-14">
                <div id="loginformsize" style="width:380px;">
                    <MudCard Elevation="0" Class="py-2">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Align="Align.Center"><b>Login</b></MudText>
                            @foreach (var error in errors)
                            {
                                <MudAlert Severity="Severity.Error" NoIcon="false">@error</MudAlert>
                            }
                            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                                <MudTextField T="string" Label="Password" @ref="pwField1"
                                              InputType="InputType.Password"
                                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                                              RequiredError="Password is required!" />
                            </MudForm>
                            <MudText Align="Align.Right"><MudLink Href="/register" Underline="Underline.Hover">Forgot Password?</MudLink></MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mr-3">Login</MudButton>
                        </MudCardActions>
                        <MudText Class="px-2 pb-2" Align="Align.Center"> New User? <MudLink Href="/register" Underline="Underline.Always"><b>Create an account</b></MudLink></MudText>
                    </MudCard>
                </div>

            </MudPaper>
            <div class="" mx-2" Elevation="0"></div>
        </div>
    </div>
</div>

@code {
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;
    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

}

